---
layout: default
---
<span class="title">My Rants</span>
<ul class="posts rants">
  {% for post in site.categories.rants %}
  <li>
    <img src="{{ post.image }}" />
    <div class="post-content">
      <a class="title" href="{{ post.url }}">{{post.title}}</a>
      <p class="excerpt">{{ post.description }}</p>
      <span class="date">{{ post.date | date_to_string }}</span> 
    </div>
  </li>
  {% endfor %}
</ul>
<span class="title">Projects</span>
<ul class="posts projects">
  {% for post in site.categories.projects %}
  <li>
    <img src="{{ post.image }}" />
    <div class="post-content">
      <a class="title" href="{{ post.url }}">{{post.title}}</a>
      <p class="excerpt">{{ post.description }}</p>
      <span class="date">{{ post.date | date_to_string }}</span> 
    </div>
  </li>
  {% endfor %}
</ul>
