<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Hi there, I'm Jeff Kao! I'm interested in tech and entrepreneurship. This site serves as a collection of my rants that are too long to post on Twitter.">
    <title>{% if page.title %} {{page.title}} | {% endif %} Jeff Kao | My Rants</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27939779-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="content">
      <div id="main">
        <div class="header">
          <div class="main-title"><a href="/">Jeff Kao</a></div>
          <ul class="navigation">
            <li><a href="/">Blog</a></li>
            <li><a href="/resume.html">Resume</a></li>
          </ul>
        </div>
        <div class="content">
          {{ content }}
        </div>
      </div>
      <div id="about">
        <div class="title">About Me</div>
        <div class="profile"><img class="profile_pic" alt="Jeff Kao" src="/img/profile_pic.png" /></div>
        <div class="description">
          <p>Hi there! I'm Jeff Kao, a Computer Engineering student at the University of Waterloo!</p>
          <p>I like to build things, play guitar, and do martial arts.</p>
          <p>I'm currently a Platform Engineer at digital publishing startup <a href="http://inkling.com">Inkling</a>.</p>
          <p>You can find more info about me on my <a href="/resume.html">resume</a> or you can find me on:</p>
          <ul class="social">
            <li class="twitter"><a href="http://twitter.com/#!/j_ckao">Twitter</a></li>
            <li class="github"><a href="https://github.com/jkao">GitHub</a></li>
            <li class="linkedin"><a href="http://www.linkedin.com/profile/view?id=65997901">LinkedIn</a></li>
          </ul>
          <p>Inquiries? Offers? Contact me at:</p>
          <p class="center">&#106;&#101;&#102;&#102;&#46;&#107;&#97;&#111;&#46;&#48;&#48;&#48;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</p>
        </div>
      </div>
      <div id="footer">Copyright &copy; 2012 Jeffrey Kao</div>
    </div>
  </body>
</html>
