<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% if page.title %} {{page.title}} | {% endif %} Jeff Kao | My Rants</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div id="content">
      <div id="main">
        <div class="header">
          <div class="main-title">Jeff Kao</div>
          <ul class="navigation">
            <li><a href="/">Blog</a></li>
            <li><a href="/resume.html">Resume</a></li>
          </ul>
        </div>
        <div class="content">
          {{ content }}
        </div>
      </div>
      <div id="about">
        <div class="title">About Me</div>
        <div class="profile"><img class="profile_pic" alt="Hey, it's me!" src="/img/profile_pic.png" /></div>
        <div class="description">
          <p>Hi there! I'm Jeff Kao, a Computer Engineering student at the University of Waterloo!</p>
          <p>I like to build things, play guitar, and do martial arts, among many other things.</p>
          <p>I'm currently an intern at YC-funded startup <a href="#">PagerDuty</a></p>
          <p>You can find more info about me on my <a href="#">resume</a> or you can find me on:</p>
          <ul class="social">
            <li class="linkedin">LinkedIn</li>
            <li class="github">GitHub</li>
            <li class="twitter">Twitter</li>
            <li class="google-plus">Google+</li>
            <li class="hacker-news">Hacker News</li>
            <li class="grooveshark">Grooveshark</li>
          </ul>
          <p>Inquiries? Offers?</p>
          <p>Contact me at: jeff.kao.000 [at] gmail [dot] com </p>
        </div>
      </div>
      <div id="footer">Copyright &copy; 2011 Jeffrey Kao</div>
    </div>
  </body>
</html>
